/* CSS for ProductDetails  */
.product-details {
  display: flex;
  margin: 20px;
}

.product-image img {
  max-width: 300px;
  max-height: 300px;
}

.product-info {
  margin-left: 40px;
}

.product-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 18px;
  margin-bottom: 10px;
}